<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{ if isset .Site.Params "themepath" }}
    <style>{{ (print .Site.Params.Themepath "/static/css/styles.min.css") | relURL | readFile | safeCSS }}</style>
    {{ else }}
    <link rel="stylesheet" href="/css/styles.min.css">
    {{ end }}
</head>
<body>
    {{ partialCached "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
</body>
</html>
